<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=10">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<title>ProtoText</title>
		<meta name="Description" content="ChatGPT-powered desktop application to unload your mental stack.">
		<% preact.headEnd %>
	</head>
	<body>
		<div id="root"></div>
		<% preact.bodyEnd %>
	</body>
</html>